<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<meta name="description"
		  content="Sudoku solver">
	<meta name="author" content="Srikar Ananthoju">
	<link rel="stylesheet" href="{{ url_for('static', filename='public/style.css') }}">
	<title>{% block title %}{% endblock %} - My Sudoku</title>
</head>
{% block bodyTag %}
<body class="bg-gradient-to-r from-gray-50 via-gray-100 to-gray-200 flex flex-col min-h-screen justify-between">
{% endblock %}
{% block navbar %}
<nav id="navbar" class="flex items-center justify-between flex-wrap bg-current-500 p-3">
	<div class="flex items-center flex-shrink-0 text-white mr-6">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ball-bowling" width="44" height="44"
			 viewBox="0 0 24 24" stroke-width="1.5" stroke="#989a9e" fill="none" stroke-linecap="round"
			 stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<circle cx="12" cy="12" r="9"/>
			<line x1="8" y1="9" x2="8" y2="9.01"/>
			<line x1="15" y1="8" x2="15" y2="8.01"/>
			<line x1="14" y1="12" x2="14" y2="12.05"/>
		</svg>
		<span class="font-semibold text-xl tracking-tight text-gray-800">SudokU</span>
	</div>
	<div class="block md:hidden">

		<a id="virus"
		   href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2F61VzGiRUQp3pZ8omne%2F200.gif&imgrefurl=https%3A%2F%2Fgiphy.com%2Fexplore%2Fkanye-west-funny&tbnid=8I4W7l7cOWqA1M&vet=12ahUKEwiFqp-NucryAhUEq3IEHaovDv4QMygJegUIARCNAg..i&docid=hIOTCW6Co3fbfM&w=356&h=200&q=gif%20kanye&ved=2ahUKEwiFqp-NucryAhUEq3IEHaovDv4QMygJegUIARCNAg"
		   class="text-sm px-4 py-2 leading-none border rounded text-white border-white
			   hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 md:mt-0" target="_blank">Virus</a>
	</div>
	<div class="w-full block flex-grow md:flex md:items-center md:w-auto">
		<div class="text-sm md:flex-grow">
			<a href="{{url_for('index')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white mr-4">
				Home
			</a>
			<a href="{{url_for('make_board')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white mr-4">
				Play
			</a>
			<a href="{{url_for('play_game')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white">
				Current Game
			</a>
		</div>
	</div>
</nav>

{% endblock %}


<div id="error messages" class="place-content-center">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="py-2 px-2 my-2 bg-red-300 text-red-800 rounded border border-red-600 animate-pulse flex justify-between">
		<div>
			{{ message }}
		</div>

		<div id="x_button" class="inline items-end">
			<a href="{{url_for('index')}}">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x" width="30"
					 height="30"
					 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
					 stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<rect x="4" y="4" width="16" height="16" rx="2"/>
					<path d="M10 10l4 4m0 -4l-4 4"/>
				</svg>
			</a>

		</div>

	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
</div>

{% block content %} {% endblock %}


{% block footer %}
<footer class="">
	<div class="flex justify-center place-items-center">
		<a href="https://www.linkedin.com/in/srikar-ananthoju" class="text-gray-700 hover:text-gray-800 m-2 "
		   target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none"
				 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				 class="feather feather-globe">
				<circle cx="12" cy="12" r="10"></circle>
				<line x1="2" y1="12" x2="22" y2="12"></line>
				<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
			</svg>
		</a>
		<a href="mailto: sreekaroo@gmail.com" class="text-gray-700 hover:text-gray-800 m-2 " target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="32" height="32"
				 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
				 stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<rect x="3" y="5" width="18" height="14" rx="2"></rect>
				<polyline points="3 7 12 13 21 7"></polyline>
			</svg>
		</a>
		<a href="https://github.com/sreekaroo/SudokYou" class="text-gray-700 hover:text-blue-300-800 m-2"
		   target="_blank">
			<svg style="width:28px;height:28px" viewBox="0 0 24 24">
				<path fill="currentColor"
					  d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,
					  20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9
					  5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17
					  5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95
					   11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5
					    18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27
					     14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
				/>
			</svg>
		</a>
	</div>
</footer>
{% endblock %}

</body>


</html>