{% extends "base.html" %}

{%block title %} Index {% endblock %}

{% block navbar %}
<nav id="navbar" class="flex items-center justify-between flex-wrap bg-current-500 p-3">
	<div class="flex items-center flex-shrink-0 text-white mr-6">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ball-bowling" width="44" height="44"
			 viewBox="0 0 24 24" stroke-width="1.5" stroke="#989a9e" fill="none" stroke-linecap="round"
			 stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<circle cx="12" cy="12" r="9"/>
			<line x1="8" y1="9" x2="8" y2="9.01"/>
			<line x1="15" y1="8" x2="15" y2="8.01"/>
			<line x1="14" y1="12" x2="14" y2="12.05"/>
		</svg>
		<span class="font-semibold text-xl tracking-tight text-gray-800">DOONDA SudokU</span>
	</div>
	<div class="block md:hidden">

		<a id="virus"
		   href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2F61VzGiRUQp3pZ8omne%2F200.gif&imgrefurl=https%3A%2F%2Fgiphy.com%2Fexplore%2Fkanye-west-funny&tbnid=8I4W7l7cOWqA1M&vet=12ahUKEwiFqp-NucryAhUEq3IEHaovDv4QMygJegUIARCNAg..i&docid=hIOTCW6Co3fbfM&w=356&h=200&q=gif%20kanye&ved=2ahUKEwiFqp-NucryAhUEq3IEHaovDv4QMygJegUIARCNAg"
		   class="text-sm px-4 py-2 leading-none border rounded text-white border-white
			   hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 md:mt-0" target="_blank">Virus</a>
	</div>
	<div class="w-full block flex-grow md:flex md:items-center md:w-auto">
		<div class="text-sm md:flex-grow">
			<a href="{{url_for('index')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white mr-4">
				Home
			</a>
			<a href="{{url_for('make_board')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white mr-4">
				Play
			</a>
			<a href="{{url_for('play_game')}}"
			   class="block mt-4 md:inline-block md:mt-0 text-teal-200 hover:text-white">
				Current Game
			</a>
		</div>
	</div>
</nav>

{% endblock %}

{% block bodyTag %}

<body style="background-image: url(../static/kanye_float.jpeg)" class="bg-fixed flex flex-col min-h-screen justify-between">
{% endblock %}

{% block content %}


{% set text_color = "text-white" %}


<div id="main content container" class="flex-row place-content-start md:place-content-center">

	<div id = "layout" class = "place-items-center flex flex-col">

		<div id="title" class=" p-4 col-span-2 flex-row flex">
			<h1 class="semi-bold justify-start font-serif text-3xl md:text-5xl {{text_color}}">
				This is The <em>DOONDA SudokU</em>
			</h1>
			<h3 class="py-6 px-6 {{text_color}} font-serif"> Built by Srikar Ananthoju</h3>
			<div class="inline">
				<!--				<img src="static/kanye_donda.jpeg" class="filter grayscale rounded"/>-->

				<!--<img src="static/kanye_float.jpeg" width="311" height="400" class="filter grayscale rounded"/>-->

			</div>

		</div>

		<div id=" gen_container" class="grid cols-2 place-items-center ">
			<div class="place-items-center p-4">
				<div class="relative sm:w-60 w-45 ">
					<select name="difficulty" form="makeboard"
							class="w-45 h-10 sm:h-14 sm:w-60 sm:text-2xl rounded border-2 border-gray-700 text-gray-800 font-serif block appearance-none w-full bg-white
						 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
						<option>easy</option>
						<option>medium</option>
						<option>hard</option>
					</select>
					<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
							<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
						</svg>
					</div>
				</div>
				<div id="generate board" class=" ">
					<form id="makeboard" action="{{url_for('make_board')}}" method="post"
						  class="">
						<input class=" my-2 h-10 w-45 sm:h-14 sm:w-60 bg-gray-600 text-white font-serif sm:text-2xl rounded hover:bg-gray-900 "
							   type="submit" value="Generate"/>
					</form>

				</div>
			</div>

			<div id="upload board" class="place-items-center col-start-2 p-4">
				<form action="{{url_for('upload_board')}}" method="post" class="flex-col flex">
					<input name="input_board" type="text" maxlength="81" placeholder="enter board...."
						   class=" sm:text-2xl h-10 w-45 rounded border-2 border-gray-700 text-gray-800 font-serif sm:h-14 sm:w-60 pl-5 pr-10 bg-white hover:border-gray-900 focus:outline-none appearance-none"/>
					<input class="my-2 h-10 w-45 sm:h-14 sm:w-60 bg-gray-600 text-white font-serif sm:text-2xl rounded hover:bg-gray-900 "
						   type="submit"
						   value="Upload"/>
				</form>
			</div>

		</div>


		<div id="about container" class=" p-4 col-span-2 justify-center">
			<h2 class="{{text_color}} font-serif text-2xl">
				About
			</h2>

			<p class=" {{text_color}} p-4 overflow-y-auto font-serif">
				Hello new user, I am Srikar and welcome to SudokU: the customizable Sudoku webapp for any occasion.
				<br>
				Currently, the theme is simplistic grey, but customizations appear upon request. <br>
				You may play with a random board or upload your own custom game as a list of digits, row by row. <br>
				There is a solve feature which implements a backtracking algorithm and can solve any board. <br>
				Feel free to shoot me an email down below for any theme requests you have!

			</p>
		</div>


	</div>

</div>

{% endblock %}

{% block footer %}
<footer class="">
	<div class="flex justify-center place-items-center">
		<a href="https://www.youtube.com/watch?v=A8OXQTYAD44" class=" hover:text-white m-2 "
		   target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none"
				 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				 class="feather feather-globe">
				<circle cx="12" cy="12" r="10"></circle>
				<line x1="2" y1="12" x2="22" y2="12"></line>
				<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
			</svg>
		</a>
		<a href="mailto: sreekaroo@gmail.com" class="text-gray-700 hover:text-white m-2 " target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="32" height="32"
				 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
				 stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<rect x="3" y="5" width="18" height="14" rx="2"></rect>
				<polyline points="3 7 12 13 21 7"></polyline>
			</svg>
		</a>
		<a href="https://github.com/sreekaroo/Sudoku" class="text-gray-700 hover:text-white m-2" target="_blank">
			<svg style="width:28px;height:28px" viewBox="0 0 24 24">
				<path fill="currentColor"
					  d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,
					  20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9
					  5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17
					  5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95
					   11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5
					    18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27
					     14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
				/>
			</svg>
		</a>
	</div>
</footer>
{% endblock %}